system/.custom

# Allow only the SSH Config
ssh/*
ssh/!config

# Allow only GnuPG Config
gnupg/*
!gnupg/gpg-agent.conf
!gnupg/dirmngr.conf

# Neovim
config/nvim/plugin/

# Ignore Symlinks
find * -type l
